html, body {
    font-size: 16px;
    background-color: var(--color-white);
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    opacity: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1 !important;
}

.showSection {
    transition: opacity ease-in 280ms;
    opacity: 1 !important;
}

.overlay {
    opacity: 0.5;
    filter: blur(5px);
    overflow-y: hidden;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--color-gray-100);


    .container {
        gap: 1rem;
    }
}

.hideSpan {
    display: none;
}
