.container .showmessage {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.container .account-profileinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.container h1 {
  padding-top: 2rem;
}
.container h5 {
  padding-top: 10px;
}
.container label {
  margin-bottom: 8px;
  margin-top: 10px;
}
.container .menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 2rem;
}
