@page "/"

<PageTitle>Home</PageTitle>

<section>
    <div class="AdminChoises">
        <h1>Admin</h1>
        <a class="a" href="/courses"><h6 class="h6">Handle Courses</h6></a>
        <a class="a" href="/subscribers"><h6 class="h6">Handle Subscribers</h6></a>
        <a class="a" href="/users"><h6 class="h6">Handle Users</h6></a>
        <a class="a" href="/admins"><h6 class="h6">Handle Admin</h6></a>
    </div>
</section>
