.AdminChoises {
  text-align: center;
  display: grid;
  row-gap: 1rem;
}
.AdminChoises .a {
  transition: color ease-in-out 120ms;
}
.AdminChoises .a:hover {
  color: var(--color-gray-500);
  text-shadow: 1px 1px 2px var(--color-gray-200);
}
.AdminChoises .h6 {
  transition: color ease-in-out 120ms;
}
.AdminChoises .h6:hover {
  color: var(--color-gray-500);
  text-shadow: 1px 1px 2px var(--color-gray-200);
}
