<header id="header" class="header">
    <div class="container">
        <div class="headerContainer">

            <a class="logo" href="/"><img src="/images/solid.svg"></a>

            <div class="menu">
                <nav>
                    <NavLink class="a textLinks" href="/">Admin home</NavLink>
                    <NavLink class="a textLinks" href="/courses">Courses</NavLink>
                    <NavLink class="a textLinks" href="/users">Users</NavLink>
                    <NavLink class="a textLinks" href="/subscribers">Subscribers</NavLink>
                    <NavLink class="a textLinks" href="/admin">Admins</NavLink>
                </nav>
            </div>
            
            <SideMenu />

            <div class="accountButtons">
                <NavLink class="Mybtn btn-theme" href="/signin"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></NavLink>
            </div>
        </div>
    </div>
</header>

@code {

}
